.header-content{
  width: 100%;
  height: 100px;
  background: rgba(187,187,187,0.4);
  justify-content: space-around;
  display: flex;
  font-size: 2em;
  align-items: center;
  color: black;
  .icon-home3{
    margin-right: 5px;
  }
}