<div class="mem-item-wrapper">
    <div class="mem-header">
        <h3>{{ mem.header }}</h3>
    </div>
    <div class="mem-content">
        <p *ngIf="mem.textContent">{{ mem.textContent }}</p>
        <img *ngIf="mem.imgUrl" [src]="mem.imgUrl">
        <video *ngIf="mem.videoUrl" controls>
            <source [src]="mem.videoUrl">
        </video>
    </div>
    <div class="mem-vote">
        <div class="icon-arrow-up" data-toggle="tooltip" data-placement="right" title="Нраица!"></div>
        <div class="icon-bubbles2" data-toggle="tooltip" data-placement="right" title="Всем очень важно мое мнение"></div>
        <div class="icon-arrow-down" data-toggle="tooltip" data-placement="right" title="Аццтой!"></div>
    </div>
</div>